@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes easeInRight {
  from {
    opacity: 0;
    right: -600px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}

@keyframes easeInRight {
  from {
    opacity: 0;
    right: -600px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}


body {
  background: rgba(0,0,0,0.05);
  font-family: sans-serif;
}

#main {
  text-align: center;
  display: inline-block;
  width: calc(100% - 60px);
  padding: 30px;
  overflow: auto;
}

.panel {
  display: inline-block;
  width: 48%;
  min-height: 450px;
}

#panel1 {
  float: left;
}

#panel2 {
  float: right;
}

#converted, #text {
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  font-family: sans-serif;
  font-size: 14px;
  min-height: 400px;
  padding: 10px;
  text-align: left;
}

#text {
  resize: vertical;
  width: calc(100% - 25px);
}

#converted .placeholder {
  opacity: 0.5;
}

.page-header {
  font-size: 53px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.marker-img {
  margin-right: 13px;
  margin-top: -13px
}

.buttons {
  margin-bottom: 15px;
}

button {
  border: 2px solid #02CEFF;
  border-radius: 3px;
  background: #71d4ec;
  color: white;
  padding: 5px 10px;
  margin: 10px;
  outline: none !important;
}

button:hover {
  cursor: pointer;
  background: rgba(113, 212, 236, 0.85);
  border-color: rgba(113, 212, 236, 0.85);
}

button:focus {
  background: rgba(113, 212, 236, 0.6);
  border-color: rgba(113, 212, 236, 0.6);
}



ul.task-list {
  list-style-type: none;
}

blockquote {
  border-left: 3px solid gray;
  padding-left: 15px;
}

table {
  border-collapse: collapse;
  border: 1px solid gray;
  width: 100%;
}

tbody tr:nth-child(odd) {
  background: rgba(0,0,0,0.1);
}

td, th {
  border: 1px solid gray;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

td.align-center,
th.align-center {
  text-align: center;
}

td.align-right,
th.align-right {
  text-align: right;
}

img {
  max-width: 100%;
}

.block-code {
  background: rgba(255,255,255,0.5);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 0px 10px;
  color: rgba(0,0,0,0.7);
  display: block;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

code {
  background: rgba(255,255,255,0.5);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 2px 5px;
  color: rgba(0,0,0,0.7);
}

.block-code code {
  background: transparent;
  border: none;
  padding: 0px;
}

a {
  color: #02CEFF !important;
}

.info-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  overflow: hidden;
  -webkit-animation: 0.1s easeIn;
  -o-animation: 0.1s easeIn;
  animation: 0.1s easeIn;
}

.info-modal.open {
  display: block;
}

.modal-body {
  width: 600px;
  padding: 40px;
  max-width: 80%;
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  -webkit-box-shadow: -9px 0px 15px -6px rgba(0,0,0,0.4);
  -moz-box-shadow: -9px 0px 15px -6px rgba(0,0,0,0.4);
  box-shadow: -9px 0px 15px -6px rgba(0,0,0,0.4);
  -webkit-animation: 0.2s easeInRight;
  -o-animation: 0.2s easeInRight;
  animation: 0.2s easeInRight;
}

.info-modal h2 {
  margin-top: 0px;
}

h3.section-header {
  color: rgba(0,0,0,0.6);
  border-bottom: 1px solid rgba(0,0,0,0.6);
  margin-top: 40px;
}

.info-modal p {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  /*-webkit-margin-before: 0em !important;
  -webkit-margin-after: 0em !important;*/
}

p.color-gray {
  color: rgba(0,0,0,0.7) !important;
}

.info-subsection {
  margin-top: 15px;
  background: rgba(0,0,0,0.04);
  padding: 5px 15px;
}
